#banner{
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #525252;
  border-top-left-radius:1.5em;
  border-top-right-radius:1.5em;
  border-bottom-right-radius:0em;
  border-bottom-left-radius:0em;
  top: 0px;
}

#banner t1{
  padding: 1.5rem;
  text-align: center;
  color: #F1F1F1;
}

#titlePage {
  text-align: center;
  background-color: #F1F1F1;
  padding:5%;
  border-top-left-radius:0em;
  border-top-right-radius:0em;
  border-bottom-right-radius:1.5em;
  border-bottom-left-radius:1.5em;

}

#titlepage2{
  text-align: right;
}
#titlePage t1{
  text-align: center;
  margin-bottom: 4rem;
  color: #525252;
}

#titlePage t2{
  text-align: center;
  margin-bottom: 4rem;
  color:#525252;
}

#bib p{
  line-height: 2rem;
  margin-bottom: 3.5rem;
}
/* Fonts
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/OpenSans-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/OpenSans-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/OpenSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("fonts/OpenSans-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/OpenSans-Semibold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("fonts/OpenSans-SemiboldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/OpenSans-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("fonts/OpenSans-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url("fonts/OpenSans-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("fonts/OpenSans-ExtraBoldItalic.ttf");
  font-weight: 800;
  font-style: italic;
}

/* Base style & classes
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media print {
  body{
    color:#252525;
    background: #fff;
    font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  h1{
    background: none;
  }
  nav, aside{
    display: none;
  }
  body, article{
    width:100%;
    margin:0;
    padding:0;
  }
	html {
    font-size: 40%;
  }
  @page {
    margin:1.5cm;
  }
  img{
    max-width: 100%;
  } 
  article{
    page-break-before: always;
  }
  ul, img{
    page-break-inside: avoid;
  }
}

* {
  -webkit-print-color-adjust: exact;
}
@page {
  size: A4;
}

body {
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 30px 0;
}

h1 {
  page-break-before: always;
}

table, p, image, img , code, pre {
  page-break-inside: avoid;
}

p {
  text-align: justify;
  margin-bottom: 1rem;
  line-height: 3rem;
}

tbody{
  width: 100%;
}
table {
 width: 100%;
}

img {
  max-width: 100%;
}

blockquote {
  border-left-style: solid;
  border-left-width: 3px;
  border-left-color: rgba(0,0,0, 0.1);
  margin-left: 20px;
  padding-left: 10px;

  font-style: italic;
}

.text-wrap-right {
  float:right;
  padding: 10px;
  margin: 0px 0px 0px 20px;
}

.text-wrap-left {
  float: left;
  padding: 10px;
  margin: 0px 20px 0px 0px;
}


/* Cross-references
//–––––––––––––––––––––––––––––––––––––––––––––––––– */

a.xref:after {
  content: " (page " target-text(attr(href)) ")";
}

/* Page numbers
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@page {
  @bottom-right {
    content: counter(page);
    font-size: 9pt;
    color: #333;
  }
}

@page:first {
  margin: 1cm;
  
  @bottom-right {
    content: normal;
    margin: 0;
  }

  @bottom-left {
    content: normal;
    margin: 0;
  }
}


/* Counters
–––––––––––––––––––––––––––––––––––––––––––––––––– */

body {
  counter-reset: chapters;
}

h1 {
  counter-reset: sections;
}

h2 {
  counter-reset: subsections;
}


.toc-h1{
  counter-increment: toc-h1;
  counter-reset: toc-h2;
}

.toc-h2{
  counter-reset: toc-h3;
}

.toc-h1:before {
  content: "Chapter " counter(toc-h1) ".  ";
  counter-reset: toc-h2;
}

.toc-h2:before{
  content: counter(toc-h1) "." counter(toc-h2) ".  ";
  counter-increment: toc-h2;
  counter-reset: toc-h3;
}

.toc-h3:before{
  content: counter(toc-h1) "." counter(toc-h2) "." counter(toc-h3) ".  ";
  counter-increment: toc-h3;
}

.toc-h1 a::after{
  content: leader('.') target-counter(attr(href),page);
}
.toc-h2 a::after{
  content: leader('.') target-counter(attr(href),page);
}
.toc-h3 a::after{
  content: leader('.') target-counter(attr(href),page);
}

h1:before {
  content: "Chapter " counter(chapters) ". ";
  counter-increment: chapters;
  counter-reset: sections;
}

h2:before {
  content: counter(chapters) "." counter(sections) ". ";
  counter-increment: sections;
  counter-reset: subsections;
}

h3:before {
  content: counter(chapters) "." counter(sections) "." counter(subsections) ". ";
  counter-increment: subsections;
}


h1.nocount:before {
  content: none;
  counter-increment: none;
}

h2.nocount:before {
  content: none;
  counter-increment: none;
}

figure {
  counter-increment: figures;
}

figure:before{
  content: 'Figure ' counter(figures) ".  ";
}

.table {
  counter-increment: tables;
  font-weight:bold  ;
}

.table:before {
  content: 'Table ' counter(tables) ".  ";
}

.code {
  counter-increment: snippets;
  font-weight: bold;
}

.code:before {
  content: 'Code snippet ' counter(snippets) ".  ";
}


t1, t2, t3 {
  display: block;
}


.toc-h1{
  font-weight: bold;
  text-decoration: none;
}
.toc-h2{
  margin-left: 1.5rem;
  text-decoration: none;
}
.toc-h3{
  margin-left:3rem;
  text-decoration: none;
}

#toc{
  list-style-type: none;  
  text-align:left;
  text-decoration: none;
  width: 100%;
}

.toc{
  list-style-type: none;  
  text-align:left;
  text-decoration: none;
  width: 100%;
}

a {
    text-decoration: none;
    color: #000 ;
}


ul.toc a::after {
  content:  leader('.') target-counter(attr(href), page);
}
