---
---

/* Fonts
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@font-face {
  font-family: 'Open Sans';
  src: url("{{ site.baseurl }}/fonts/OpenSans-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("{{ site.baseurl }}/fonts/OpenSans-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url("{{ site.baseurl }}/fonts/OpenSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("{{ site.baseurl }}/fonts/OpenSans-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url("{{ site.baseurl }}/fonts/OpenSans-Semibold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("{{ site.baseurl }}/fonts/OpenSans-SemiboldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url("{{ site.baseurl }}/fonts/OpenSans-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("{{ site.baseurl }}/fonts/OpenSans-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url("{{ site.baseurl }}/fonts/OpenSans-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("{{ site.baseurl }}/fonts/OpenSans-ExtraBoldItalic.ttf");
  font-weight: 800;
  font-style: italic;
}

/* Base style & classes
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media print {
	html {
    font-size: 40%;
  }
}

* {
  -webkit-print-color-adjust: exact;
}

body {
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 30px 0;
}

h1 {
//  padding-top: 3em;
  page-break-before: always;
}

table, p, image, img , code, pre {
  page-break-inside: avoid;
}

p {
  text-align: justify;
  //margin-bottom: 5px;
//  line-height: 3rem;
}

table {
//  width: 100%;
}

img {
  max-width: 100%;
}

blockquote {
  border-left-style: solid;
  border-left-width: 3px;
  border-left-color: rgba(0,0,0, 0.1);
  margin-left: 20px;
  padding-left: 10px;

  font-style: italic;
}

.text-wrap-right {
  float:right;
  padding: 10px;
  margin: 0px 0px 0px 20px;
}

.text-wrap-left {
  float: left;
  padding: 10px;
  margin: 0px 20px 0px 0px;
}

// This only works in Prince, not Chrome/Firefox:
///* Cross-references
//–––––––––––––––––––––––––––––––––––––––––––––––––– */
//
//a.xref:after {
//  content: " (page " target-counter(attr(href, url), snippets) ")";
//}

/* Page numbers
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@page {
  @bottom-right {
    content: counter(page);
  }
}

@page:first {
  @bottom-right {
    content: normal;
    margin: 0;
  }

  @bottom-left {
    content: normal;
    margin: 0;
  }
}


/* Counters
–––––––––––––––––––––––––––––––––––––––––––––––––– */

body {
  counter-reset: chapters;
}

h1 {
  counter-reset: sections;
}

h2 {
  counter-reset: subsections;
}

/*//h3 {
//  counter-reset: subsubsections;
//}
*/

.toc-h1{
  counter-reset: toc-h2;
  counter-increment: toc-h1;
}

.toc-h2{
  counter-reset: toc-h3;
}

.toc-h1:before {
  content: "Chapter " counter(toc-h1) ". ";
  counter-increment: toc-h1;
  counter-reset: toc-h2;
}

.toc-h2:before{
  content: counter(toc-h1) "." counter(toc-h2) ".";
  counter-increment: toc-h2;
  counter-reset: toc-h3;
}

.toc-h3:before{
  content: counter(toc-h1) "." counter(toc-h2) "." counter(toc-h3) ".";
  counter-increment: toc-h3;
}



h1:before {
  content: "Chapter " counter(chapters) ". ";
  counter-increment: chapters;
  counter-reset: sections;
}

h2:before {
  content: counter(chapters) "." counter(sections) ". ";
  counter-increment: sections;
  counter-reset: subsections;
}

h3:before {
  content: counter(chapters) "." counter(sections) "." counter(subsections) ". ";
  counter-increment: subsections;
}

//h4:before {
//  content: counter(chapters) "." counter(sections) "." counter(subsections) "." counter(subsubsections) ". ";
//  counter-increment: subsubsections;
//}

h1.nocount:before {
  content: none;
  counter-increment: none;
}

h2.nocount:before {
  content: none;
  counter-increment: none;
}

figure {
  counter-increment: figures;
}

figure:before{
  content: 'Figure ' counter(figures) ".  ";
}

.table {
  counter-increment: tables;
  font-weight:bold  ;
}

.table:before {
  content: 'Table ' counter(tables) ".  ";
}

.code {
  counter-increment: snippets;
  font-weight: bold;
}

.code:before {
  content: 'Code snippet ' counter(snippets) ".  ";
}





.toc-h1{
  font-weight: bold;
}
.toc-h2{
  margin-left: 1.5rem;
}
.toc-h3{
  margin-left:3rem;
}
.toc{
  list-style-type: none;
}
#titlePage{
  font-size: 4.0rem;
  text-align: center;
  letter-spacing: 0;
  font-weight: 600;
  background-color: #F1F1F1;
  padding:10%;
}


//table of contents syling
ul.toc a::after {
  content:  leader('.') target-counter(attr(href), page);
}

//hr {
//    margin: 0 0 19px;
//    border: 0;
//    border-bottom: 1px solid #ccc;
//}
//blockquote {
//    padding: 10px 10px 10px 10px;
//    margin-bottom: 18px;
//    font-family:georgia,serif;
//    font-style: italic;
//}
//
//blockquote p {
//    font-size: 14px;
//    font-weight: 300;
//    line-height: 18px;
//    margin-bottom: 0;
//    font-style: italic;
//}

//code, pre {
//    font-family: Monaco, Andale Mono, Courier New, monospace;
//}
//code {
//    font-size: 14px;
//    -webkit-border-radius: 3px;
//    -moz-border-radius: 3px;
//    border-radius: 3px;
//}
//pre {
//    background-color: #E4E5E6;
//    color: black;
//    display: block;
//    padding: 14px;
//    margin: 0 0 18px;
//    line-height: 16px;
//    font-size: 11px;
//    border: 1px solid #d9d9d9;
//    white-space: pre-wrap;
//    word-wrap: break-word;
//}
//pre code {
//    color:#434343;
//    font-size: 14px;
//}
//sup {
//    font-size: 0.83em;
//    vertical-align: super;
//    line-height: 0;
//}
//
//
//
//
//
//img {
//      margin-left: auto;
//      margin-right: auto;
//      display: inline;
//      text-align: center;
//    }
//

//
//
//    .title{
//          font-weight: 400;
//          text-transform: uppercase;
//          letter-spacing: 2px;
//          font-size: 0.8em;
//          padding: .5em;
//          text-align: center;
//          color: #fff;
//          background: #f5bca8;
//        }
//

//
//.title1 {
//  font-weight: bold;
//  font-size: 34px;
//}
//.title2 {
//  text-align: right;
//  font-size:26px;
//  font-weight: normal;
//  font-style: italic;
//}




//h1,
//h2,
//h3,
//h4,
//h5,
//h6,
//p,
//blockquote {
//    line-height:200%;
//}


//a {
//    color: #0069d6;
//}
//
//a:hover {
//    color: #0050a3;
//    text-decoration: none;
//}
//a img {
//    border: none;
//}

//h1,
//h2,
//h3,
//h4,
//h5,
//h6 {
//    color: #404040;
//    line-height: 100%;
//}

