h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #737373;
    background-color: white;
    margin: 10px 13px 10px 13px;
    counter-reset:h1counter, figcounter, tablecouter, codecounter;
}


table {
	margin: 10px 0 15px 0;
	border-collapse: collapse;
}
td,th {	
	border: 1px solid #ddd;
	padding: 3px 10px;
}
th {
	padding: 5px 10px;	
}

a {
    color: #0069d6;
}
a:hover {
    color: #0050a3;
    text-decoration: none;
}
a img {
    border: none;
}
p {
    margin-bottom: 9px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #404040;
    line-height: 36px;
}

h1 {
    margin-bottom: 18px;
    font-size: 30px;
    counter-reset: h2counter;
}
h2 {
    font-size: 24px;
    counter-reset: h3counter;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 13px;
}
hr {
    margin: 0 0 19px;
    border: 0;
    border-bottom: 1px solid #ccc;
}
blockquote {
    padding: 13px 13px 21px 15px;
    margin-bottom: 18px;
    font-family:georgia,serif;
    font-style: italic;
}
blockquote:before {
    content:"\201C";
    font-size:40px;
    margin-left:-10px;
    font-family:georgia,serif;
    color:#eee;
}
blockquote p {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    margin-bottom: 0;
    font-style: italic;
}
code, pre {
    font-family: Monaco, Andale Mono, Courier New, monospace;
}
code {
    background-color: #fee9cc;
    color: rgba(0, 0, 0, 0.75);
    padding: 1px 3px;
    font-size: 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
pre {
    display: block;
    padding: 14px;
    margin: 0 0 18px;
    line-height: 16px;
    font-size: 11px;
    border: 1px solid #d9d9d9;
    white-space: pre-wrap;
    word-wrap: break-word;
}
pre code {
    background-color: #fff;
    color:#737373;
    font-size: 11px;
    padding: 0;
}
sup {
    font-size: 0.83em;
    vertical-align: super;
    line-height: 0;
}
* {
	-webkit-print-color-adjust: exact;
}
@media screen and (min-width: 914px) {
    body {
        width: 854px;
        margin:10px auto;
    }
}
@media print {
	body,code,pre code,h1,h2,h3,h4,h5,h6 {
		color: black;
	}
	table, pre {
		page-break-inside: avoid;
	}
}
h1:before {
    content: "Chapter " counter(h1counter) ".  ";
    counter-increment: h1counter;
    counter-reset: h2counter;
}
h2:before {
    content: counter(h1counter) "." counter(h2counter) ". ";
    counter-increment: h2counter;
    counter-reset: h3counter;
}
h3:before {
    content: counter(h1counter) "." counter(h2counter) "." counter(h3counter) ". ";
    counter-increment: h3counter;
    counter-reset: h4counter;
}
h1.nocount:before {
        content: none;
        counter-increment: none;
    }
h2.nocount:before {
        content: none;
        counter-increment: none;
    }  
    

.fig{
  counter-increment: figcounter 1 ;
  font-weight: bold;
    }

.fig:before{
      content: 'Figure ' counter(figcounter) ".  ";
    }

.table{
    counter-increment: tablecounter 1 ;
    font-weight:bold  ;
    }
    
.table:before{
      content: 'Table ' counter(tablecounter) ".  ";
    }
    
    
    .code{
      counter-increment: codecounter 1 ;
      font-weight: bold;
    }
    
    .code:before{
      content: 'Code snip ' counter(codecounter) ".  ";
    }
.title{
    	font-weight: 700;
    	text-transform: uppercase;
    	letter-spacing: 2px;
    	font-size: 0.8em;
    	padding: .5em;
    	text-align: center;
    	color: #fff;
    	background: #f5bca8;
    }