* { 
	-webkit-print-color-adjust: exact;
}
@media screen and (min-width: 914px) {
    body {
        width: 854px;
        margin:10px auto;
    }
}
@media print {
	body, p{
    font-size: 14px;
	color: black;
    width:854px;
	}
  code,pre code,h1,h2,h3,h4,h5,h6{
    color: #404040;
  }
  h1{
    page-break-before:always;
  }
	table, p, image, img , code, pre {
		page-break-inside: avoid;
	}
  }
  
@page  {
  @top-center { content: "Preliminary edition" }
  @bottom-right {
      content: counter(page) " of " counter(pages);
    }
}
div{
  display: inline-block; 
  width: initial;
}
.textWrapR{
          float:right;
          padding:10px;
          margin: 0px 0px  0px  20px;
        }

.textWrapL{
          float:left;
          padding:10px;
          margin: 0px 20px  0px  0px;
        }


h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
    line-height:200%;
}
body {
  counter-reset:h1counter, figcounter, tablecouter, codecounter;
    font-family: "Myramid Pro", Helvetica, "Hiragino Sans GB", Arial, sans-serif;
    font-size: 14px;
    line-height: 200%;
    color: #434343;
    background-color: white;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
   

    }

table {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: left;
	border-collapse: collapse;
}
td,th {	
	border: 1px solid #ddd;
	padding: 3px 10px;
}
th {
	padding: 5px 10px;	
}

a {
    color: #0069d6;
}
a:hover {
    color: #0050a3;
    text-decoration: none;
}
a img {
    border: none;
}
p {
  text-align: justify;
  margin-bottom: 5px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #404040;
    line-height: 100%;
}

h1 {
    margin-bottom: 15px;
    font-size: 24px;
    counter-reset: h2counter;
}
h2 {
    font-size: 18px;
    counter-reset: h3counter;
}
h3 {
    font-size: 16px;
}
h4 {
    font-size: 14px;
}
h5 {
    font-size: 10px;
}
h6 {
    font-size: 10px;
}
hr {
    margin: 0 0 19px;
    border: 0;
    border-bottom: 1px solid #ccc;
}
blockquote {
    padding: 10px 10px 10px 10px;
    margin-bottom: 18px;
    font-family:georgia,serif;
    font-style: italic;
}

blockquote p {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    margin-bottom: 0;
    font-style: italic;
}
code, pre {
    font-family: Monaco, Andale Mono, Courier New, monospace;
}
code {
    font-size: 14px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
pre {
    background-color: #E4E5E6;
    color: black;
    display: block;
    padding: 14px;
    margin: 0 0 18px;
    line-height: 16px;
    font-size: 11px;
    border: 1px solid #d9d9d9;
    white-space: pre-wrap;
    word-wrap: break-word;
}
pre code {
    color:#434343;
    font-size: 14px;
}
sup {
    font-size: 0.83em;
    vertical-align: super;
    line-height: 0;
}

  
h1:before {
    content: "Chapter " counter(h1counter) ".  ";
    counter-increment: h1counter;
    counter-reset: h2counter;
}
h2:before {
    content: counter(h1counter) "." counter(h2counter) ". ";
    counter-increment: h2counter;
    counter-reset: h3counter;
}
h3:before {
    content: counter(h1counter) "." counter(h2counter) "." counter(h3counter) ". ";
    counter-increment: h3counter;
    counter-reset: h4counter;
}
h1.nocount:before {
        content: none;
        counter-increment: none;
    }
h2.nocount:before {
        content: none;
        counter-increment: none;
    }  
    

.fig{
  counter-increment: figcounter 1 ;
  font-weight: bold;
    }

.fig:before{
      content: 'Figure ' counter(figcounter) ".  ";
    }

.table{
    counter-increment: tablecounter 1 ;
    font-weight:bold  ;
    }
    
.table:before{
      content: 'Table ' counter(tablecounter) ".  ";
    }
    
    
    .code{
      counter-increment: codecounter 1 ;
      font-weight: bold;
    }
    
    .code:before{
      content: 'Code Snippet ' counter(codecounter) ".  ";
    }
.title{
    	font-weight: 400;
    	text-transform: uppercase;
    	letter-spacing: 2px;
    	font-size: 0.8em;
    	padding: .5em;
    	text-align: center;
    	color: #fff;
    	background: #f5bca8;
    }
    
img {
      margin-left: auto;
      margin-right: auto;
      display: inline;
      text-align: center;
    }
    



.titlePage{
  font-size:28px;
  line-height: 300%;
  text-align: left;
}

.title1 {
  font-weight: bold;
  font-size: 34px;
}
.title2 {
  text-align: right;
  font-size:26px;
  font-weight: normal;
  font-style: italic;
}
